@require '../_variables'
@require '../_mixins'

$card-padding = 30px

.card
  padding $card-padding
  background-color $color-lightest
  box-shadow 2px 2px 2px alpha($color-darkest, .1)
  border-radius(6px)
  box-sizing(border-box)

.card-title
  font-size $font-size-lg

.card-content
  position relative
  margin-top 30px
  .loader,
  .alert
    position absolute
    top 50%
    left 50%
    width 100%
    transform('translate(-50%,-50%)')
  .alert-retry-button
    margin-top 15px
